<nav id="menu">
    <div class="portfolio">
        <p>L.A Portfólio</p>
    </div>
    <div class="items-menu">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Sobre</a></li>
            <li><a href="">Projetos</a></li>
        </ul>
    </div>
    <div class="contact">
        <a href="https://www.linkedin.com/in/leticiaakamini/" target="_blank"><img src="assets/linkedin.png" alt="Ícone do Linkedin"/></a>
        <a href="https://github.com/leticiaakamini" target="_blank"><img src="assets/github.png" alt="Ícone do Github"/></a>
    </div>
</nav>